h1 {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
}

.contact-form {
  max-width: 500px;
  margin: 25px auto;
}

.alert-box {
  min-height: 72px;
}

.alert-icon {
  position: absolute;
  bottom: 31px;
}

.text-error-message {
  padding-left: 43px;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 10px;
}

.contact-form input {
  padding-left: 27px;
}

.contact-form .icon {
  height: 0;
  float: left;
  position: relative;
  top: -37px;
  left: 6px;
  color: #5a19ae;
}

.contact-form .form-group {
  margin-bottom: 0;
  position: relative;
}

.asterisx {
  height: 0;
  position: absolute;
  right: 5px;
  top: 4px;
  font-size: 25px;
  color: rgb(158, 15, 210);
  padding-left: 5px;
}

.contact-form .send-button {
  display: flex;
  padding-left: 35px;
}

.contact-form .send-icon {
  color: #fff;
}

.contact-form textarea {
  height: 200px;
  padding-right: 20px;
}

.btn-success {
  background-color: #5a19ae;
  border-color: #5a19ae;
}

.btn-success:hover {
  background-color: #8a51d6;
  border-color: #8a51d6;
}

.contact-form .custom-alert {
  padding: 5px 10px;
  display: none;
  margin: 0px 0px 10px;
}
